In [6]:
%%sql
CREATE DATABASE data_db LOCATION 's3a://lakehouse/warehouse/data_db';

++
||
++
++

In [8]:
%%sql 
show schemas from hms;

+-----------+
| namespace |
+-----------+
|   data_db |
|   default |
+-----------+

In [10]:
TAXIS_TABLE="hms.data_db.trips"

In [11]:
%%sql
CREATE TABLE hms.data_db.trips
(
  vendor_id bigint,
  trip_id bigint,
  trip_distance float,
  fare_amount double,
  store_and_fwd_flag string
)
PARTITIONED BY (vendor_id);

++
||
++
++

In [12]:
%%sql
INSERT INTO hms.data_db.trips
VALUES (1, 1000371, 1.8, 15.32, 'N'), (2, 1000372, 2.5, 22.15, 'N'), (2, 1000373, 0.9, 9.01, 'N'), (1, 1000374, 8.4, 42.13, 'Y');

++
||
++
++

In [13]:
%%sql
SELECT * FROM  hms.data_db.trips;

+-----------+---------+--------------------+-------------+--------------------+
| vendor_id | trip_id |      trip_distance | fare_amount | store_and_fwd_flag |
+-----------+---------+--------------------+-------------+--------------------+
|         1 | 1000371 | 1.7999999523162842 |       15.32 |                  N |
|         1 | 1000374 |  8.399999618530273 |       42.13 |                  Y |
|         2 | 1000372 |                2.5 |       22.15 |                  N |
|         2 | 1000373 | 0.8999999761581421 |        9.01 |                  N |
+-----------+---------+--------------------+-------------+--------------------+

In [17]:
%%sql
Alter table hms.data_db.trips Add column pickupdatetime TIMESTAMP

++
||
++
++

In [30]:
%%sql
SELECT * FROM hms.data_db.trips;

+-----------+---------+--------------------+-------------+--------------------+----------------+
| vendor_id | trip_id |      trip_distance | fare_amount | store_and_fwd_flag | pickupdatetime |
+-----------+---------+--------------------+-------------+--------------------+----------------+
|         1 | 1000375 | 1.7999999523162842 |       15.32 |                  N |           None |
|         1 | 1000371 | 1.7999999523162842 |       15.32 |                  N |           None |
|         1 | 1000374 |  8.399999618530273 |       42.13 |                  Y |           None |
|         2 | 1000372 |                2.5 |       22.15 |                  N |           None |
|         2 | 1000373 | 0.8999999761581421 |        9.01 |                  N |           None |
+-----------+---------+--------------------+-------------+--------------------+----------------+

In [29]:
%%sql
INSERT INTO hms.data_db.trips
VALUES (1, 1000375, 1.8, 15.32, 'N', null)

++
||
++
++

In [31]:
%%sql
SELECT * FROM hms.data_db.trips;

+-----------+---------+--------------------+-------------+--------------------+----------------+
| vendor_id | trip_id |      trip_distance | fare_amount | store_and_fwd_flag | pickupdatetime |
+-----------+---------+--------------------+-------------+--------------------+----------------+
|         1 | 1000375 | 1.7999999523162842 |       15.32 |                  N |           None |
|         1 | 1000371 | 1.7999999523162842 |       15.32 |                  N |           None |
|         1 | 1000374 |  8.399999618530273 |       42.13 |                  Y |           None |
|         2 | 1000372 |                2.5 |       22.15 |                  N |           None |
|         2 | 1000373 | 0.8999999761581421 |        9.01 |                  N |           None |
+-----------+---------+--------------------+-------------+--------------------+----------------+

In [32]:
%%sql
ALTER TABLE hms.data_db.trips SET TBLPROPERTIES ('write.merge.mode'='merge-on-read')

++
||
++
++

In [33]:
%%sql
INSERT INTO hms.data_db.trips
VALUES (1, 1000376, 1.8, 15.32, 'Y', null)

++
||
++
++

In [44]:
%%sql
SELECT * FROM hms.data_db.trips;

+-----------+---------+--------------------+-------------+--------------------+----------------+
| vendor_id | trip_id |      trip_distance | fare_amount | store_and_fwd_flag | pickupdatetime |
+-----------+---------+--------------------+-------------+--------------------+----------------+
|         1 | 1000371 | 1.7999999523162842 |       15.32 |                  N |           None |
|         1 | 1000374 |  8.399999618530273 |       42.13 |                  Y |           None |
|         2 | 1000372 |                2.5 |       22.15 |                  N |           None |
|         1 | 1000376 | 1.7999999523162842 |       15.32 |                  Y |           None |
|         1 | 1000375 | 1.7999999523162842 |       15.32 |                  N |           None |
+-----------+---------+--------------------+-------------+--------------------+----------------+

In [48]:
%%sql
select * from hms.data_db.trips.snapshots

+----------------------------+---------------------+---------------------+-----------+-----------------------------------------------------------------------------------------------------------------------+---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|               committed_at |         snapshot_id |           parent_id | operation |                                                                                                         manifest_list |                                                                                                                                                                                                                                                                                                                                                                                                 summary |
+----------------------------+---------------------+---------------------+-----------+-----------------------------------------------------------------------------------------------------------------------+---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
| 2024-10-30 13:55:30.502000 | 5050848906018997966 |                None |    append | s3a://lakehouse/warehouse/data_db/trips/metadata/snap-5050848906018997966-1-345e97c4-e957-44dd-b0e0-555123dd1e0e.avro |                                                                                  {'spark.app.id': 'local-1730296141089', 'changed-partition-count': '2', 'added-data-files': '2', 'total-equality-deletes': '0', 'added-records': '4', 'total-position-deletes': '0', 'added-files-size': '3074', 'total-delete-files': '0', 'total-files-size': '3074', 'total-records': '4', 'total-data-files': '2'} |
| 2024-11-04 02:15:45.033000 | 3711844439636920376 | 5050848906018997966 |    append | s3a://lakehouse/warehouse/data_db/trips/metadata/snap-3711844439636920376-1-1c93c109-4d18-4e13-b4e4-a6153449b13c.avro |                                                                                  {'spark.app.id': 'local-1730684165476', 'changed-partition-count': '1', 'added-data-files': '1', 'total-equality-deletes': '0', 'added-records': '1', 'total-position-deletes': '0', 'added-files-size': '1689', 'total-delete-files': '0', 'total-files-size': '4763', 'total-records': '5', 'total-data-files': '3'} |
| 2024-11-04 02:20:02.353000 | 8047480463877905145 | 3711844439636920376 |    append | s3a://lakehouse/warehouse/data_db/trips/metadata/snap-8047480463877905145-1-2668a93f-5a76-4456-8c9c-4592c8e0d739.avro |                                                                                  {'spark.app.id': 'local-1730684165476', 'changed-partition-count': '1', 'added-data-files': '1', 'total-equality-deletes': '0', 'added-records': '1', 'total-position-deletes': '0', 'added-files-size': '1689', 'total-delete-files': '0', 'total-files-size': '6452', 'total-records': '6', 'total-data-files': '4'} |
| 2024-11-04 02:25:29.945000 |  277744572948458978 | 8047480463877905145 | overwrite |  s3a://lakehouse/warehouse/data_db/trips/metadata/snap-277744572948458978-1-b7e2a8a5-e049-49c6-a429-d385dcbf90ba.avro | {'added-data-files': '1', 'total-equality-deletes': '0', 'added-records': '1', 'deleted-data-files': '1', 'deleted-records': '2', 'total-records': '5', 'spark.app.id': 'local-1730684165476', 'removed-files-size': '1558', 'changed-partition-count': '1', 'total-position-deletes': '0', 'added-files-size': '1730', 'total-delete-files': '0', 'total-files-size': '6624', 'total-data-files': '4'} |
| 2024-11-04 02:42:58.071000 | 8891162228998381857 |  277744572948458978 |    delete | s3a://lakehouse/warehouse/data_db/trips/metadata/snap-8891162228998381857-1-789047c3-ddd6-42c7-afc4-464892a060ae.avro |                                                                            {'spark.app.id': 'local-1730684165476', 'removed-files-size': '1689', 'changed-partition-count': '1', 'total-equality-deletes': '0', 'deleted-data-files': '1', 'total-position-deletes': '0', 'total-delete-files': '0', 'deleted-records': '1', 'total-files-size': '4935', 'total-records': '4', 'total-data-files': '3'} |
+----------------------------+---------------------+---------------------+-----------+-----------------------------------------------------------------------------------------------------------------------+---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+

In [41]:
%%sql
ALTER TABLE hms.data_db.trips SET TBLPROPERTIES ('write.delete.mode'='merge-on-read')

++
||
++
++

In [46]:
%%sql 
DELETE FROM hms.data_db.trips WHERE trip_id = 1000376

++
||
++
++

In [47]:
%%sql
SELECT * FROM hms.data_db.trips;

+-----------+---------+--------------------+-------------+--------------------+----------------+
| vendor_id | trip_id |      trip_distance | fare_amount | store_and_fwd_flag | pickupdatetime |
+-----------+---------+--------------------+-------------+--------------------+----------------+
|         1 | 1000375 | 1.7999999523162842 |       15.32 |                  N |           None |
|         2 | 1000372 |                2.5 |       22.15 |                  N |           None |
|         1 | 1000371 | 1.7999999523162842 |       15.32 |                  N |           None |
|         1 | 1000374 |  8.399999618530273 |       42.13 |                  Y |           None |
+-----------+---------+--------------------+-------------+--------------------+----------------+

In [68]:
%%sql
select * from hms.data_db.trips.snapshots

+----------------------------+---------------------+---------------------+-----------+-----------------------------------------------------------------------------------------------------------------------+---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|               committed_at |         snapshot_id |           parent_id | operation |                                                                                                         manifest_list |                                                                                                                                                                                                                                                                                                                                                                                                 summary |
+----------------------------+---------------------+---------------------+-----------+-----------------------------------------------------------------------------------------------------------------------+---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
| 2024-10-30 13:55:30.502000 | 5050848906018997966 |                None |    append | s3a://lakehouse/warehouse/data_db/trips/metadata/snap-5050848906018997966-1-345e97c4-e957-44dd-b0e0-555123dd1e0e.avro |                                                                                  {'spark.app.id': 'local-1730296141089', 'changed-partition-count': '2', 'added-data-files': '2', 'total-equality-deletes': '0', 'added-records': '4', 'total-position-deletes': '0', 'added-files-size': '3074', 'total-delete-files': '0', 'total-files-size': '3074', 'total-records': '4', 'total-data-files': '2'} |
| 2024-11-04 02:15:45.033000 | 3711844439636920376 | 5050848906018997966 |    append | s3a://lakehouse/warehouse/data_db/trips/metadata/snap-3711844439636920376-1-1c93c109-4d18-4e13-b4e4-a6153449b13c.avro |                                                                                  {'spark.app.id': 'local-1730684165476', 'changed-partition-count': '1', 'added-data-files': '1', 'total-equality-deletes': '0', 'added-records': '1', 'total-position-deletes': '0', 'added-files-size': '1689', 'total-delete-files': '0', 'total-files-size': '4763', 'total-records': '5', 'total-data-files': '3'} |
| 2024-11-04 02:20:02.353000 | 8047480463877905145 | 3711844439636920376 |    append | s3a://lakehouse/warehouse/data_db/trips/metadata/snap-8047480463877905145-1-2668a93f-5a76-4456-8c9c-4592c8e0d739.avro |                                                                                  {'spark.app.id': 'local-1730684165476', 'changed-partition-count': '1', 'added-data-files': '1', 'total-equality-deletes': '0', 'added-records': '1', 'total-position-deletes': '0', 'added-files-size': '1689', 'total-delete-files': '0', 'total-files-size': '6452', 'total-records': '6', 'total-data-files': '4'} |
| 2024-11-04 02:25:29.945000 |  277744572948458978 | 8047480463877905145 | overwrite |  s3a://lakehouse/warehouse/data_db/trips/metadata/snap-277744572948458978-1-b7e2a8a5-e049-49c6-a429-d385dcbf90ba.avro | {'added-data-files': '1', 'total-equality-deletes': '0', 'added-records': '1', 'deleted-data-files': '1', 'deleted-records': '2', 'total-records': '5', 'spark.app.id': 'local-1730684165476', 'removed-files-size': '1558', 'changed-partition-count': '1', 'total-position-deletes': '0', 'added-files-size': '1730', 'total-delete-files': '0', 'total-files-size': '6624', 'total-data-files': '4'} |
| 2024-11-04 02:42:58.071000 | 8891162228998381857 |  277744572948458978 |    delete | s3a://lakehouse/warehouse/data_db/trips/metadata/snap-8891162228998381857-1-789047c3-ddd6-42c7-afc4-464892a060ae.avro |                                                                            {'spark.app.id': 'local-1730684165476', 'removed-files-size': '1689', 'changed-partition-count': '1', 'total-equality-deletes': '0', 'deleted-data-files': '1', 'total-position-deletes': '0', 'total-delete-files': '0', 'deleted-records': '1', 'total-files-size': '4935', 'total-records': '4', 'total-data-files': '3'} |
| 2024-11-04 03:04:00.734000 | 5276173240938153566 | 8891162228998381857 | overwrite | s3a://lakehouse/warehouse/data_db/trips/metadata/snap-5276173240938153566-1-fc079c92-93aa-4457-96d7-f386a5f13b68.avro |                                   {'spark.app.id': 'local-1730684165476', 'changed-partition-count': '1', 'added-position-deletes': '1', 'total-equality-deletes': '0', 'total-position-deletes': '1', 'added-position-delete-files': '1', 'added-files-size': '1514', 'total-delete-files': '1', 'added-delete-files': '1', 'total-files-size': '6449', 'total-records': '4', 'total-data-files': '3'} |
+----------------------------+---------------------+---------------------+-----------+-----------------------------------------------------------------------------------------------------------------------+---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+

In [64]:
%%sql
select * from hms.data_db.trips VERSION AS OF 8891162228998381857

+-----------+---------+--------------------+-------------+--------------------+----------------+
| vendor_id | trip_id |      trip_distance | fare_amount | store_and_fwd_flag | pickupdatetime |
+-----------+---------+--------------------+-------------+--------------------+----------------+
|         1 | 1000375 | 1.7999999523162842 |       15.32 |                  N |           None |
|         2 | 1000372 |                2.5 |       22.15 |                  N |           None |
|         1 | 1000371 | 1.7999999523162842 |       15.32 |                  N |           None |
|         1 | 1000374 |  8.399999618530273 |       42.13 |                  Y |           None |
+-----------+---------+--------------------+-------------+--------------------+----------------+

In [69]:
%%sql
select * from hms.data_db.trips.all_delete_files

+---------+------------------------------------------------------------------------------------------------------------------------------+-------------+---------+------------------+--------------+--------------------+-----------------------------------+--------------+-------------------+------------------+----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+--------------+---------------+--------------+---------------+-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
| content |                                                                                                                    file_path | file_format | spec_id |        partition | record_count | file_size_in_bytes |                      column_sizes | value_counts | null_value_counts | nan_value_counts |                                                                                                                                                                                                   lower_bounds |                                                                                                                                                                                                   upper_bounds | key_metadata | split_offsets | equality_ids | sort_order_id |                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                              readable_metrics |
+---------+------------------------------------------------------------------------------------------------------------------------------+-------------+---------+------------------+--------------+--------------------+-----------------------------------+--------------+-------------------+------------------+----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+--------------+---------------+--------------+---------------+-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|       1 | s3a://lakehouse/warehouse/data_db/trips/data/vendor_id=2/00000-29-77bae447-f7f8-41f1-800c-e6fce2859742-00001-deletes.parquet |     PARQUET |       0 | Row(vendor_id=2) |            1 |               1514 | {2147483546: 141, 2147483545: 39} |         None |              None |             None | {2147483546: bytearray(b's3a://lakehouse/warehouse/data_db/trips/data/vendor_id=2/00000-11-6a5bf715-289c-4e44-8421-37e7c5f90a1d-0-00001.parquet'), 2147483545: bytearray(b'\x00\x00\x00\x00\x00\x00\x00\x00')} | {2147483546: bytearray(b's3a://lakehouse/warehouse/data_db/trips/data/vendor_id=2/00000-11-6a5bf715-289c-4e44-8421-37e7c5f90a1d-0-00001.parquet'), 2147483545: bytearray(b'\x00\x00\x00\x00\x00\x00\x00\x00')} |         None |           [4] |         None |          None | Row(fare_amount=Row(column_size=None, value_count=None, null_value_count=None, nan_value_count=None, lower_bound=None, upper_bound=None), pickupdatetime=Row(column_size=None, value_count=None, null_value_count=None, nan_value_count=None, lower_bound=None, upper_bound=None), store_and_fwd_flag=Row(column_size=None, value_count=None, null_value_count=None, nan_value_count=None, lower_bound=None, upper_bound=None), trip_distance=Row(column_size=None, value_count=None, null_value_count=None, nan_value_count=None, lower_bound=None, upper_bound=None), trip_id=Row(column_size=None, value_count=None, null_value_count=None, nan_value_count=None, lower_bound=None, upper_bound=None), vendor_id=Row(column_size=None, value_count=None, null_value_count=None, nan_value_count=None, lower_bound=None, upper_bound=None)) |
+---------+------------------------------------------------------------------------------------------------------------------------------+-------------+---------+------------------+--------------+--------------------+-----------------------------------+--------------+-------------------+------------------+----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+--------------+---------------+--------------+---------------+-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+

In [67]:
%%sql 
DELETE FROM hms.data_db.trips WHERE trip_id = 1000372

++
||
++
++